.DS_Store
.vs/
.vsconfig
Assembly-CSharp-Editor.csproj

Assembly-CSharp.csproj

Assets/.DS_Store

Bin/

HotUpdate.csproj
HybridCLRData/
JFrame-Unity.sln
Library/
Logs/
Temp/
UserSettings/
obj/

Assembly-CSharp-firstpass.csproj

CustomToolbar.Editor.csproj
UniTask.Addressables.csproj
UniTask.DOTween.csproj
UniTask.Editor.csproj
UniTask.Linq.csproj
UniTask.TextMeshPro.csproj
UniTask.csproj
Unity Timer.csproj
UnityWebSocket.Editor.csproj
UnityWebSocket.Runtime.csproj

UniFramework.Animation.csproj
UniFramework.Event.csproj
UniFramework.Machine.csproj
UniFramework.Network.csproj
UniFramework.Pooling.csproj
UniFramework.Singleton.csproj
UniFramework.Tween.csproj
UniFramework.Utility.csproj
UniFramework.Window.csproj